<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All Users</h1>
    <div class="users-align">
        <% for( let i = 0; i < users.length; i++ ) { %>
        
       
    <button class="user-button"  data-index=<%= i %>>
        
        <span class="lable"><%= users[i].email %></span>
      </button>
      <button class="additional-button" data-index=<%= i %> style="display: none;">
        <span class="lable">Request Their Secret</span>
      </button> 
      <% } %>
    </div>


  </div>
</div>

<%- include('partials/footer') %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const userButtons = document.querySelectorAll('.user-button');
  userButtons.forEach(button => {
    button.addEventListener('click', () => {
      const index = button.getAttribute('data-index');
      const additionalButton = document.querySelector(`.additional-button[data-index="${index}"]`);
      if (additionalButton) {
        if (additionalButton.style.display === 'block') {
          additionalButton.style.display = 'none';
        } else {
          document.querySelectorAll('.additional-button').forEach(btn => {
            btn.style.display = 'none';
          });
          additionalButton.style.display = 'block';
        }
      } else {
        console.error('Additional button not found for index:', index);
      }
    });
  });
});
    </script>