<%- include('partials/header') %>

<div class="container">
  <div class="jumbotron centered">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">All Users</h1>
    <div class="users-align">
        <% for( let i = 0; i < users.length; i++ ) { %>
      <form action="/users" method="post">
         <button  type="button" name="mailto" value="<%= users[i].email %>" class="user-button"  data-index=<%= i %>>
        <span class="lable"><%= users[i].email %></span>
         </button>
      <button value="no" type="submit" name="access" class="additional-button" data-index=<%= i %> style="display: none;">
        <span class="lable">Request Their Secret</span>
      </button>
      <input type="hidden" name="mailto_value" id="mailto_value">
      <input type="hidden" name="access_value" id="access_value"> </form>
      <% } %>
    </div>


  </div>
</div>

<%- include('partials/footer') %>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const userButtons = document.querySelectorAll('.user-button');
  const requestButtons = document.querySelectorAll('.additional-button');
  
  userButtons.forEach(button => {
    button.addEventListener('click', () => {
      const index = button.getAttribute('data-index');
      const additionalButton = document.querySelector(`.additional-button[data-index="${index}"]`);
      if (additionalButton) {
        if (additionalButton.style.display === 'block') {
          additionalButton.style.display = 'none';
        } else {
          document.querySelectorAll('.additional-button').forEach(btn => {
            btn.style.display = 'none';
          });

          additionalButton.style.display = 'block';
          const email = button.value;
          const reqw = additionalButton.value;
          document.getElementById('mailto_value').value = email;
          document.getElementById('access_value').value = reqw;
          console.log(email,reqw);
        }
      } else {
        console.error('Additional button not found for index:', index);
      }
    });
  });

});
    </script>